<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IB Grade Calculator</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="angular.min.js" charset="utf-8"></script>

<body ng-app="app" ng-controller="maincontrol">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    IB Grade Calculator
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Minimum Grade Calculator</h1>
                <form class="form" onsubmit="return scope.calculate();">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="dropdown">
                                <label for="cclass">Select class:</label>
                                <select class="form-control" name="cclass" id="classes" ng-model="current">
                                    <option ng-repeat="item in classes" value="{{$index}}">{{item.Class}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4" ng-repeat="ia in classes[current].ias">
                            <label for="ibgrade">{{ia.name}}</label>
                            <div class="input-group">
                                <input id="grade" class="form-control" type="number" min="0" max="{{ia.marks}}" name="ibgrade" value="" ng-model="result[$index]">
                                <div class="input-group-addon">
                                    {{"/"+ia.marks}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success" name="button">Calculate</button>
                        </div>
                    </div>

                </form>
            </div>
            <br>
            <div class="col-xs-12">
                <h2>Minimum Exam Scores</h2>
                <div class="table-responsive">
                    <table class="table" id="results">
                        <tr>
                            <th>Class</th>
                            <th>Current Grade</th>
                            <th>Exam Weight</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th><span class='glyphicon glyphicon-remove text-danger' type="button" name="del" ng-click="remove()"></th>
                        </tr>
                        <tr ng-repeat="row in results track by $index">
                            <td>{{row.Class}}</td>
                            <td>{{row.Grade}}</td>
                            <td>{{row.Weight}}</td>
                            <td ng-class="row[1]=='impossible'?'danger':(row[1]=='0%'?'success':'')">{{row[1]}}</td>
                            <td ng-class="row[2]=='impossible'?'danger':(row[2]=='0%'?'success':'')">{{row[2]}}</td>
                            <td ng-class="row[3]=='impossible'?'danger':(row[3]=='0%'?'success':'')">{{row[3]}}</td>
                            <td ng-class="row[4]=='impossible'?'danger':(row[4]=='0%'?'success':'')">{{row[4]}}</td>
                            <td ng-class="row[5]=='impossible'?'danger':(row[5]=='0%'?'success':'')">{{row[5]}}</td>
                            <td ng-class="row[6]=='impossible'?'danger':(row[6]=='0%'?'success':'')">{{row[6]}}</td>
                            <td ng-class="row[7]=='impossible'?'danger':(row[7]=='0%'?'success':'')">{{row[7]}}</td>
                            <td><span class='glyphicon glyphicon-remove text-danger' type="button" name="del" ng-click="remove($index)"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="col-xs-12">
                <p>
                    Data obtained from <a href="http://www.ibo.org/university-admission/ib-recognition-resources-and-document-library/#briefs">IB subject briefs</a> and <a href="http://www.dpcdsb.org/NR/rdonlyres/257D5ECC-B156-4400-B0C7-D765BB3D4855/169854/May_2016_grade_boundaries.pdf">May 2016 grade boundaries.</a>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="app.js" charset="utf-8"></script>
</html>
